body {
    background-color: #eee;
}

#title-part {
    color: yellowgreen;
}

.capital {
    font-weight: bolder;
    font-size: 24px;
}

h1 {
    font-size: 36px;
}

h1,
h2 {
    text-align: center;
}

section.container {
    border: 10px solid indigo;
    padding: 20px;
    /* width vs max-width: Check resizing */
    max-width: 800px;
    /* margin: margin-top margin-right margin-bottom margin-left */
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

table {
    border-collapse: collapse;
    margin: auto;
}

th {
    background-color: #ddd;
}

th,
td {
    border: 1px solid grey;
}

td {
    padding: 5px 10px;
}

.highlighted {
    background-color: yellow;
}